---
import type { Page } from "astro";
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import BlogPost from '../../components/blogPost.astro';

type Props = {
  page: Page<any>;
}
export async function getStaticPaths({paginate}: any) {
  const blogs = (await getCollection('blogs')).sort((a, b) => Date.parse(b.data.pubDate) - Date.parse(a.data.pubDate));
  return paginate(blogs, { pageSize: 10});

}

const { page } = Astro.props;

const pageTitle = "Blogs";
---

<Layout pageTitle = {pageTitle}>
	<ul>
	{((page as any).data || []).map((blogs: any) => (
	<BlogPost url={`/blog/${blogs.id}/`} title={blogs.data.title} tags={blogs.data.tags}/>)
	)}
    </ul>
    
    <ul class = "nav">
        <li>{page.url.prev ? <a href={page.url.prev}>Previous</a> : null}</li>
        <li>{page.url.next ? <a href={page.url.next}>Next</a> : null}</li>
    </ul>
</Layout>

<style>
	ul{
		padding-inline-start: 0;
		margin: 1rem auto;
		padding: 1rem;
		border: 1px;
		text-align:left;
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
	
	.nav{
	    display: flex;
		flex-direction: row;
		justify-content: center;
        align-items: center;
	}
	
	.nav li{
	    list-style-type: none;
		
        
	}
</style>