---
import { Image } from 'astro:assets';


const {author, title, genre, rating, image, link = ''} = Astro.props

var post = false;
if(link!='')
{
  post = true;
}

---

<article class = "card">
    <Image class = "cover" src = {image} alt = {title} height = 200 width = 100></Image>
    <h2>{title}</h2>
    <h4>{author}</h4>
    <div>Genre(s): {genre}</div>
    <div>Rating: {rating}</div>
    {post && <div class = button><a href ={link}>Reflection</a></div>}
</article>

<style>
    .card{
        border-style: double;
        width: 25%;
        padding: 0.5em;
    }
    .cover
    {
        float: left;
        margin-right: 1em;
    }

    h2{
        color:aquamarine;
        margin: 0 1em 0.25em 1em;
    }
    h4{
        margin-top: 0.25em ;
    }
    
    .button{
        margin-top: 1em;
    }
    
    .card a{
        text-decoration: none;
        color:white;
        background-color: #0a3f3f;
        transition: 1s;
        postion: relative;
        border-radius: 2rem;
        padding: 0.5em;
    }
    
    .card a:hover{
        background-color: darkviolet;
    }

    @media only screen and (max-width: 750px) {
        .card{
            text-align: center;
            margin: auto;
            width: 50%;
        }
        .cover{
            float:none;
            text-align: center;
        }
    }


</style>